<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="SauceLab">
   <groups>
    <run>
    <include name="Regression"></include>
    </run> 
  </groups>
    <classes>
      <class name="OrangePageTestCases.OrangeDashBoardTestCases"/>
      <class name="TestCase.InventarPageTest"/>
      <class name="OrangePageTestCases.OrangeLoginPageTestCase"/>
      <class name="TestCase.CartPageTest"/>
      <class name="TestCase.CheckoutStepSecondTest"/>
      <class name="TestCase.CheckOutStepOneTest"/>
      <class name="TestCase.LogInPageTestCase"/>
    </classes>
  </test> <!-- SauceLab -->
</suite> <!-- Suite -->
